**/appsettings.json
**/appsettings.Development.json

**/bin/
**/obj/
**/node_modules/

*.user
*.suo
*.pidb
*.sqlite
*.db
*.cache
*.orig
*.tmp
*.temp

# Logs
*.log
**/Logs/

.vscode/
.idea/
*.sln.iml

**/node_modules/
**/dist/
**/build/